description "Prometheus Gluster Exporter"
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

respawn

setuid {{ gluster_exporter_user }}
setgid {{ gluster_exporter_group }}

env name=gluster_exporter
env prog={{ gluster_exporter_program }}
env logdir={{ gluster_exporter_log_path }}
env user={{ gluster_exporter_user }}
env group={{ gluster_exporter_group }}

script
  if [ -f "{{ gluster_exporter_config_file }}" ] ; then
    . "{{ gluster_exporter_config_file }}"
  fi

  pidfile={{ gluster_exporter_pid_path }}/$name.pid
  lockfile=/var/lock/subsys/$name

  binary=$(readlink -f $prog)
  exec $binary $OPTIONS >> "${logdir}/${name}.out.log" 2>> "${logdir}/${name}.err.log"
end script
